@charset "utf-8";

.input {
	border: 1px solid;
	border-radius: 3px;
	padding: 1px;
}

a{
	text-decoration: none !important;
    color: white !important;
}

.form{
	margin-left: 30%;	
}

.botoes{
	margin-left: 20%;
}

.botoes-login{
	margin-left: 28%;
}